.vertical-align-top {
    vertical-align: text-top;
}

.vertical-align-auto {
    vertical-align: auto;
}

.vertical-align-baseline {
    vertical-align: baseline;
}

.vertical-align-sub {
    vertical-align: sub;
}

.vertical-align-sup {
    vertical-align: super;
}

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-bottom {
    vertical-align: text-bottom;
}

.vertical-align-bottom {
    vertical-align: bottom;

}