    $mainColor: #263059;
    $secondColor: #1f487e;
    $thirdColor: #212529;
    $fourthColor: #ffffff;

    // Main color variations

    .dark-blue-700 {
        background-color: #263059;
        color: #263059;
    }

    .dark-blue-600 {
        color: #2e3a6b;
        background-color: #2e3a6b;
    }

    .dark-blue-500 {
        color: #36447d;
        background-color: #36447d;
    }

    .dark-blue-400 {
        color: #3d4e8f;
        background-color: #3d4e8f;
    }

    .dark-blue-300 {
        color: #4557a1;
        background-color: #4557a1;
    }

    .dark-blue-200 {
        color: #4d61b3;
        background-color: #4d61b3;
    }

    .dark-blue-100 {
        color: #5e71ba;
        background-color: #5e71ba;
    }

    // Second color variations

    .blue-700 {
        color: #1f487e;
        background-color: #1f487e;
    }

    .blue-600 {
        color: #235290;
        background-color: #235290;
    }

    .blue-500 {
        color: #285ea4;
        background-color: #285ea4;
    }

    .blue-400 {
        color: #2d69b9;
        background-color: #2d69b9;
    }

    .blue-300 {
        color: #3275cd;
        background-color: #3275cd;
    }

    .blue-200 {
        color: #4683d2;
        background-color: #4683d2;
    }

    .blue-100 {
        color: #5b91d7;
        background-color: #5b91d7;
    }

    // Third color variations

    .dark-grey-700 {
        color: #212529;
        background-color: #212529;
    }

    .dark-grey-600 {
        color: #2d3339;
        background-color: #2d3339;
    }

    .dark-grey-500 {
        color: #394047;
        background-color: #394047;
    }

    .dark-grey-400 {
        color: #444d55;
        background-color: #444d55;
    }

    .dark-grey-300 {
        color: #4f5963;
        background-color: #4f5963;
    }

    .dark-grey-200 {
        color: #5b6671;
        background-color: #5b6671;
    }

    .dark-grey-100 {
        color: #66737f;
        background-color: #66737f;
    }

    .text-white {
        color: #ffffff;
        background-color: #ffffff;
    }