.d-block {
    display: block;
}

.d-contents {
    display: contents;
}

.d-flex {
    display: flex;
    display: -webkit-flex;
}


.d-flow-root {
    display: flow-root;
}

.d-grid {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;

}

.d-inline-flex {
    display: inline-flex;
    display: -ms-inline-flexbox;
}

.d-none {
    display: none;
}

.hidden {
    visibility: hidden;
}