.float-left,
.float-inline-start {
    float: left;
}

.float-right,
.float-inline-end {
    float: right;
}

.float-none {
    float: none;
}

.clear-float-none {
    clear: none;
}

.clear-float-left {
    clear: left;
}

.clear-float-right {
    clear: right;
}

.clear-float-both {
    clear: both;
}

.clear-float-inherit {
    clear: both;
}

.clearfix {
    overflow: auto;
}

.clearfix-after {
    content: "";
    clear: both;
    display: table;
}