.resize-horizontal {
    resize: horizontal;
    overflow: auto;
}

.resize-vertical {
    resize: vertical;
    overflow: auto;
}

.resize-both {
    resize: both;
    overflow: auto;
}

.resize-none {
    resize: none;
}