// Text color

// Soon to be added


// Text Alignment

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-justify {
    text-align: justify;
}

.text-align-start {
    text-align: start;
}

.text-align-end {
    text-align: end;
}

.text-align-inherit {
    text-align: inherit;
}

.text-align-initial {
    text-align: initial;
}

.text-align-unset {
    text-align: unset;
}

// Text Decoration

.text-decoration-none {
    text-decoration: none;
}

.text-decoration-line-through {
    text-decoration: line-through;
}

.text-decoration-underline {
    text-decoration: underline;
}

// Text Transformation

.text-transform-uppercase {
    text-transform: uppercase;
}

.text-transform-lowercase {
    text-transform: lowercase;
}

.text-transform-capitalize {
    text-transform: capitalize;
}

// Text indent

.text-indent-0 {
    text-indent: 0;
}

.text-indent-1 {
    text-indent: .25rem;
}

.text-indent-2 {
    text-indent: .5rem;
}

.text-indent-3 {
    text-indent: .75rem;
}

.text-indent-4 {
    text-indent: 1rem;
}

.text-indent-5 {
    text-indent: 1.25rem;
}

// Letter spacing 

.letter-spacing-1 {
    letter-spacing: 3px;
}

.letter-spacing-normal {
    letter-spacing: normal;
}

.letter-spacing-inherit {
    letter-spacing: inherit;
}

.letter-spacing-initial {
    letter-spacing: initial;
}

.letter-spacing-unset {
    letter-spacing: unset;
}

// Letter height 
.line-height-1 {
    line-height: 0.8;
}

.line-height-normal {
    line-height: normal;
}

// Word spacing
.line-height-1 {
    word-spacing: 10px;
}

.line-height-normal {
    word-spacing: normal;
}

// White space
.white-space-wrap {
    white-space: wrap;
}

// Text shadow is left


// Text decoration

.text-decoration-none {
    text-decoration: none;
}

.text-decoration-dashed {
    text-decoration: dashed;
}

.text-decoration-dotted {
    text-decoration: dotted;
}

.text-decoration-double {
    text-decoration: double;
}

.text-decoration-line-through {
    text-decoration: line-through;
}

.text-decoration-overline {
    text-decoration: overline;
}

.text-decoration-solid {
    text-decoration: solid;
}

.text-decoration-underline {
    text-decoration: underline;
}

.text-decoration-wavy {
    text-decoration: wavy;
}

// Text effects

.text-overflow-clip {
    text-overflow: clip;
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
}

.word-wrap {
    word-wrap: break-word;
}

.word-break-break-all {
    word-break: break-all;
}

.word-break-keep-all {
    word-break: keep-all;
}

.writing-mode-sideways-lr {
    writing-mode: sideways-lr;
}

.writing-mode-sideways-rl {
    writing-mode: sideways-rl;
}

.writing-mode-vertical-lr {
    writing-mode: vertical-lr;
}

.writing-mode-vertical-rl {
    writing-mode: vertical-rl;
}